@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Tangerine);

input {
  display: none;
}

.card {
  width: 350px;
  height: 500px;
  border: 1px solid #eee;
  position: absolute;
  left: 50%;
  top: calc(50% - 250px);
  box-shadow: 5px 5px 15px 0 #ddd;
}

.pg1 {
  transform-origin: 0% 50%;
  z-index: 40;
  background-color: #fff;
}

.pg1 .h, .pg1 .bd {
  background: linear-gradient(
    -45deg,
    rgba(212, 175, 55, .6) 25%, 
    rgba(212, 175, 55, 1) 25%, 
    rgba(212, 175, 55, 1) 50%, 
    rgba(212, 175, 55, .6) 50%, 
    rgba(212, 175, 55, .6) 75%, 
    rgba(212, 175, 55, 1) 75%, 
    rgba(212, 175, 55, 1)
  ) 0 0/30px 80px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

.pg1 .h {
  font-size: 130px;
}

.pg1 .bd {
  font-size: 105px;
}

.pg1 .click {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  text-align: center;
  font-size: 30px;
  font-family: 'Tangerine', cursive;
  color: #b8860b; /* gold */
}

/* Letter / Message */
.pg3 .content {
  font-family: 
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Noto Sans SC",
    Arial,
    sans-serif;
  font-size: 14px;      /* smaller font */
  font-weight: normal;
  color: #444;
  line-height: 1.4;     /* reduce spacing */
  padding-top: 40px;     /* reduce padding */
  padding-left: 40px;
  padding-right: 40px;
}

#open:checked ~ .pg1 {
  animation: openCardPg1 1s ease forwards;
}

#open:checked ~ .pg2 {
  animation: openCardPg2 1s ease forwards;
}

@keyframes openCardPg1 {
  50% {
    left: 50%;
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes openCardPg2 {
  49% { z-index: 30; }
  50% {
    left: 50%;
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
    z-index: 50;
  }
}